.container{
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.ul{
    list-style: none;
    
}

.row{
    display: flex;
    flex-direction: wrap;
}

.footer{
    background-color: #24262b;
    width: 100%;
    padding: 70px 0;
}

.footerCol{
    width: 25%;
    padding: 0 15px;
}

.footerCol .h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footerCol .h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footerCol .ul .li:not(:last-child){
    margin-bottom: 10px;
}

.footerCol .ul .li .a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}

.footerCol .ul .li .a:hover{
    color: #fff;
    padding-left: 8px;
}

.footerCol .socialLinks .a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

.footerCol .socialLinks .a:hover {
    color: #24262b;
    background-color: #fff;
}

/* Responsive */

@media(max-width: 767px){
    .footer{
        margin: 0;
        padding: 0;
        justify-content: center;
        width: 1005;
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .footerCol{
        width: 100%;
    }
}

