.section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to left, rgb(17, 17, 17) 30%, rgba(233,30,99, 0.7));
    padding: 150px;
}

.containerText{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.title{
    font-size: 75px;
    gap: 10px;
}

.p{
    font-size: 15px;
    color: rgb(223, 223, 223);
    
    margin-top: 30px;
}

.containerImg{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.img{
    width: 100%;
    display: flex;
}


@media(max-width: 1000px){
    .section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 50px 30px;
    }
    
    .title{
        font-size: 60px;
        text-align: center;
    }

    .containerText{
        width: 100%;
    }
    .containerImg{
        width: 100%;
    }
}