body{
    background-color: rgb(17, 17, 17);
    color: #fff;
    box-sizing: border-box;
    overflow-x: hidden;
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Rubik", sans-serif;
}